body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f1faee;
  color: #1d3557;
}

html {
  scroll-behavior: smooth;
}

/* Header */
header {
  background: #343637;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  
}

.profile-logo {
  height: 50px;
  width: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav a {
  display: block;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

nav a:hover {
  background-color: #f1c40f;
  color: #1a1a1a;
}


/* Burger */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  
}

.burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}


/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  color: #1a1a1a; 
  text-align: center;
  background-image: url('assets/background2.webp'); 
  background-size: cover;
  
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-primary,
.btn-secondary {
  padding: 10px 20px;
  border: 1px solid #1a1a1a;
  background-color: transparent;
  color: #1a1a1a;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.avatar-img {
  width: 300px;
  height: 300px;
}

.btn-primary:hover {
  background: #ffbe0b;
  color: #1d3557;
  transform: translateY(-2px);
}

/* Secondary */
.btn-secondary:hover {
  background: #ffbe0b;
  color: #1d3557;
  transform: translateY(-2px);
}

/* About */
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  padding: 5rem 2rem;
  
}

.about-text {
  flex: 1;
  min-width: 300px;
}

.about-text h2 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.7;
  opacity: 0.85;
}

/* Photo */
.about-pic img {
  width: 300px;
  height: 300px;
  border-radius: 24px;
  object-fit: cover;
  box-shadow: -70px 50px rgba(5, 5, 5, 0.15);
}

.tech {
  flex: 1 1 40%;
  text-align: center;
  padding: 5rem;
}

.tech h2 {
  font-size: 2.4rem;
}

.tech-logos {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.tech-card {
  width: 150px;
  height: 150px;
  background-color: #f7f9fc;
  border-radius: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1a1a1a;
}

.tech-logos img {
  width: 60px;
  margin: 0.5rem;
}

/* Projects */
.projects {
  padding: 3rem 2rem; 
}

.projects h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.4rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
  justify-content: center;
}

.project-card {
  max-width: 350px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.project-card:hover img {
  transform: scale(1.05);
}

.project-card a {
  display: block;
  margin: 1rem;
  text-align: center;
  background-color: transparent;
  color: #1a1a1a;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 6px;
  font-weight: bold;
  border: 1px solid #1a1a1a;
}

.project-card a:hover {
  background: #ffbe0b;
  color: #1d3557;
  transform: scale(1.05);
}

.path {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 2rem;
}

.path-text {
  flex: 1 1 50%;
  text-align: center;
}

.path-text h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.4rem;
}

/* Contact */
.contact {
  padding: 3rem 2rem;
  text-align: center;
  
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: auto;
}

form label {
  display: flex;
  justify-content: flex-start;
}

form input, form textarea {
  padding: 0.75rem;
  border: 1px solid #1a1a1a;
  border-radius: 5px;
}

form button {
  background-color: transparent;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
  padding: 0.75rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background: #ffbe0b;
  color: #1d3557;
  transform: scale(1.05);
}

/* Footer */
footer {
  background: #343637;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive */
@media (max-width: 768px) {
  
  .about, .grid {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .burger {
    display: flex;       
    position: fixed;    
    top: 20px;
    right: 20px;
    z-index: 1000;  
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: #343637;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.4s ease, opacity 0.4s ease;
    pointer-events: none;
    z-index: 500;       
  }

  nav.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }

nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .path {
    flex-direction: column;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 2rem;
    text-align: center;
  }

  .tech-logos {
    align-items: center;
    flex-direction: column;
  }

  
}